.contenedor_boton_chatbot{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
    cursor: pointer;
}

.caja_boton_chatbot{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 18vh;
    width: fit-content;
    background-color: var(--color_7);
    padding: 15px;
    border-radius: 50%;
    border: var(--border_2);
    filter: var(--sombra_2);
    pointer-events: auto;
    transition: .3s;
}

.caja_boton_chatbot:hover{
    transform: scale(1.1);
    filter: var(--sombra_1);
}

.caja_boton_chatbot > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}